* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #61a4e2;
    line-height: 1.6;
    background-color: #5989c8;
}

.header {
    background: #67a0d8;
    color: #0f0d0d;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    display: flex;
    padding: 20px;
    background-color: #e6f0ff;
}

.cover-image {
    width: 500px;
    height: auto;
    background: #ccc;
    margin-right: 50px;
    border-radius: 25px;
}

.content {
    max-width: 600px;
}

.info-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f0f4f8;
}

.info-box {
    text-align: center;
    width: 180px;
    background: #ffffff;
    padding: 11px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon {
    font-size: 24px;
    color: #5394da;
}

.contact-section {
    padding: 20px;
    display: flex;
    gap: 20px;
    background: #f9f9f9;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 65%;
}

.contact-section form input,
.contact-section form textarea {
    padding: 10px;
    border: 1px solid #c8c1c1;
    border-radius: 5px;
}

.contact-section button {
    padding: 10px;
    background-color: #2277cd;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.message-info {
    width: 30%;
    color: #666;
}

footer {
    background-color: #2f7bc7;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.subscribe input {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links div,
.about-us {
    padding: 10px;
}

.social-media i {
    font-size: 20px;
    padding: 5px;
}


